name: Release Self-Hosted

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Manual trigger

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Dogfooding Release  # Self-Hosted Action
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          config_file: '.github/release-config.json'
